
body {
  background-color: #e3dfdf75;
  font-weight:600;
}
 h1 {
  color: #333;
}
 form {
  margin: 20px;
}
 .form-group {
  margin-bottom: 15px;
}
 .btn {
  margin-top: 10px;
}

#title{
 text-align: center;
}
#description{
    color: rgb(123, 200, 123);
    text-align: center;
}