form {
  max-width: auto;
  margin: 0 auto;
}
body{
  background: #e7c5c5;
}
.content{
  display:grid;
}
label {
  margin-bottom: 10px;
}

table{
  text-align: center; 
}
.textarea{
  width:60%;
  height:50px;
  border:1px solid black;
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 768px) {
  body {
    background-color: rgb(180, 207, 162);
  }
.First-section{
  
  min-width: 300px;
}
th, tr, td{
  text-align: center;  
}
}