*{
    background-color: rgb(235, 226, 213);
}
h1, p {
    text-align: center;
}
table {
    border-collapse: collapse;
    margin: auto;
  }
  th, td {
    padding: 8px;
    border: 1px solid black;
  }
  .justify-content-center {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .d-flex button {
    margin-right: 5px;
      
  }
  .justify-content-center .page-number {
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
    padding: 5px;
    border: 1px solid #f6f3f3;
  }
  .justify-content-center .page-number.active {
    background-color: #42fe0dde;
  }